# Backend
Backend/venv/
Backend/__pycache__/

# Environment
.env
*.env

# Frontend
Frontend/node_modules/

# Build
dist/

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Alembic
alembic/
alembic.ini